.btn {
    border: none;
    background-color: black;
    cursor: pointer;
}

.bootstrapIcon {
    color: black;
    font-size: 25px;
    margin: 20px;
    border-radius: 50px;
    background-color: coral;
    padding: 5px;
}