.divContainer {
    width: 55%;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: -23px 23px 13px -5px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: -23px 23px 13px -5px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -23px 23px 13px -5px rgba(0, 0, 0, 0.49);
    transition: 2s;
}

.divContainer:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 8px 10px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 2px 8px 10px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 2px 8px 10px rgba(0,0,0,0.29);
}

.Link {
    display: inline-block;
    font-size: 20px;
    background-color: black;
    color: #3ccf4e;
    border-radius: 4px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
}

.imagenes {
    max-width: 100%;
    height: auto;
    border-radius: 9px 9px 0 0;
}