.divContainer{
text-align: center;
margin: 5px;
}

.Button{
    font-size: 15px;
    background-color: black;
    border: none;
    color: #3ccf4e;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
}

